<% provide(:title,'Sign In') %> 
<div class="center hero-unit">
  <h1>Sign In, please!</h1>  
</div>
<div class="row">
  <div class="span6 offset3">
    <%= render 'shared/sign_in_form'%>
  </div>
</div>


