<h2>Congratulations!</h2>

<h3>Registration on <%= link_to "Tweets Project", root_url%> was successful!</h3> 
<p>
Thank you for registering on Tweets Project! You are ready to use the basic functions of Tweets: 
</p>
<br>
You can post up the first message on the home page of the project <%= link_to root_url,root_url %><br>
You can choose the interest of users on your user page <%= link_to users_url,users_url %><br>
You can start to follow the hashtag users on page hashtags <%= link_to hashtags_url,hashtags_url %><br>
<br><p>
With thanks to your Tweets!
</p>
