  <div class="row ">
    <aside class ="span3">
    </aside>
  <div class ="center span6">  
  <center>
    <%= form_tag("recive_email_for_reset_pass",method: "post") do  %>
      <%= label_tag(:email, "E-mail:") %>
      <%= text_field_tag(:email) %>
      <%= submit_tag("Reset password", class: "btn btn-large btn-primary") %>
    <% end %>
    </center>

  </div>
</div>
