<% provide(:title,"Users")%>
<h1>All users</h1>
<%= will_paginate() %>
<ul class="users">
  <!-- May be finded in app/views/users/_user.html.erb-->
  <%= render @users %>
</ul>
<%= will_paginate() %>
