<% provide(:title,'Sign Up') %> 
<div class="center hero-unit">
  <h1>Sign Up, please!</h1>  
</div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render('shared/error_msgs') %>
      <%=render 'fields', f: f %>
      <br>
      <%= f.submit("Create", class: "btn btn-large btn-primary") %>
    <% end %>

  </div>
</div>


