<% provide(:title,@title)%>
<div class="center hero-unit">
 <h1> Reset password</h1>
<h2>To your email address sent an email with instructions required to confirm your e-mail. Please check your e-mail!</h2>
</div>
<% if(@request_email) %>
  <%= render 'reset_password_email_form' %>
<% else %>
  <%= render 'reset_password_new_pass_request' %>
<% end %>
