<% @user ||= current_user %>
<span class="follows-stat">
  <a href="<%= following_user_path(@user) %>" class="btn btn-default btn-lg disabled">
    <strong id="following" class="block">
      <%= @user.followed_users.count%>
    </strong>
    following
  </a>
</span>
<span class="follows-stat"> 
  <a href="<%= followers_user_path(@user) %>" class="btn btn-default btn-lg disabled">
    <strong id="followers" class="block">
      <%= @user.followers.count%>
    </strong>
    followers
  </a>
</span>
