<% provide(:title,"#Hashtags")%>
<h1>All Hashtags</h1>
<%= will_paginate() %>
<ul class="hashtags">
  <!-- May be finded in app/views/hashtags/_hashtag.html.erb-->
  <%= render @hashtags %>
</ul>
<%= will_paginate() %>
